---
// Importa o arquivo global.css aqui para que ele seja incluído
// em todas as páginas por meio do componente <BaseHead />
import "@styles/global.css";
import FallbackImage from "@assets/icons/logo/OpenNeonSlot.svg";
import type { ImageMetadata } from "astro";

interface Props {
  title: string;
  description: string;
  image?: ImageMetadata;
}

// Cria a URL canônica com base no caminho atual e na URL base do site
const canonicalURL = new URL(Astro.url.pathname, Astro.site);

// Desestrutura as props e usa uma imagem padrão se nenhuma for fornecida
const { title, description, image = FallbackImage } = Astro.props;
---

<!-- Metadados globais -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- URL canônica -->
<link rel="canonical" href={canonicalURL} />

<!-- Metadados principais -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image.src, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image.src, Astro.url)} />
